/*reglas    ejemplo:header {
                    background-color:pink;
         }
selectores  ejemplo: header
declariones  ejemplo: {
                     background-color:pink;
                    }
propiedades   ejemplo: background-color
valores    ejemplo: :pink;  */

/*header {
    background-color:pink;
}*/

/*selector de etiqueta  ejemplo  header-section-article-nav*/
/* selector descenten*/
/*body header div nav ol li a */
/* selector de clase se realiza con . ejemplo  .link*/
/*selector de id se puede hacer con un #*/

/*gris oscuro= #1d252c*/
/* gris claro =#626262*/
/* background gris obscuro = #1b2127*/
/* celeste= #026fff*/


body{
    font-family: 'Source Sans Pro', sans-serif;
}

/*h1 {
    font-family: 'Open Sans', 'Times New Roman', Times, serif;/* cuando una fuente tiene más de dos palabras se deben de poner entre comillas
}*/

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif; /*tipos de fuente para todos los h1*/
    font-weight: normal;
    /*font-style: italic;*/ /*para poner el tipo de letra que queramos y que no colocamos en nuestro google font*/
}

h1 {
  font-size: 40px;  /*tamaño de la fuente*/
  line-height: 1.5; /*espacio entre lineas de los textos*/
  letter-spacing: -.2px;/*separacion que deben tener las letras*/
   color: white; /* poner color a la letra del titulo*/
  margin: 0;
   /*margin: 100px 150px 70px 30px;
  /* text-transform: uppercase;/*transformar las fuentes a mayusculas*/
  /*text-decoration: dashed; /*decorar el texto diferente al estilo por defecto*/
}

/*aplicamos selector descente de h1 strong*/
h1 strong{
    color: #026fff;
}

h2 {
  color:#026fff;
  text-transform: uppercase; /*para cambiar las letras en mayusculoas*/
  font-family: 'Source Sans Pro', sans-serif;/*Colocamos el mismot tipo de fuente que tiene el body*/
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.header {
    background-color: #1b2127; /*color gris obscuro*/
    color: white;/*para dar formato a los enlaces con el color de fondo para ponerle color a los textos.*/
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

ol,
ul {
    margin:0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

.header a {  /*paqra colocar color a los elementos dentro de la cabecera*/
    color: white;
    text-decoration: none; /*que no tenga ningun tipo de decoración o subrayado el texto el menu*/
}

.menu {
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;
    align-items: center;
}

.header ol li {
    height: inherit;
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}
.felxbox {/*elemento padre*/
    display: flex;
    /*flex-direction: column; /*flex en columna*/
    /*flex-direction: row;  /*Flex en fila*/
    /*cuando necesito que mis elementos ya no quepan dentro de mi horizonte dentro de mi eje x
    pase a abajo se utiliza el felx nowrap, esto tambien nos sirve para lo de responsive*/

    /*flex-wrap: nowrap; /*esto qquiere decir que ningun elemento caiga a la parte inferior*/
    flex-wrap: wrap;/*esto sirve para cuando no tenemos un elemento designado a mi ancho estos elementos van a ir callendo de manera secuencial*/

    /*para hacer que los elementos de distribuyan de manera horizon se utiliza justify-content*/
    /*puede recibir varios valores como: flex-start (Este lo alinea en el inicio y a la derecha
    flex-end (este lo ubica hacia la derecha, y center (pues centra nuestro elemento)
    Los espaciados entre los elementos se llaman: 
    space-between(me da un espaciado de elementos pero no me da espacios en el primero y en el ultumo),
    espace-around(Va a gener un espaciado igual hacia la izquierda y derehca de los elementos hijos de las cajas de flexbox),
    espace-evenly(Me va a dar un mismo espaciado identico en cada uno de los huecos)*/
    justify-content: center; 
    height: 300px;
    align-items: center;
    /*flex-direction: column;*/
    border: 1px solid blue;
}

.box {/*elemento hijo*/
    width:200px;
    height: 200px;
    margin: 10px;/*colocarles un espaciado entre mis cajas*/
    border: 1px solid red;

    /*propiedad para hijos con display flex se llama felx-shrink*/
    /*esto sirve para que no se altare el ancho y el alto, basicamente se nos dice la capacidad de encogimiento que podemos tener*/
    flex-shrink: 0;
    /*cuando necesito que mis elementos ya no quepan dentro de mi horizonte dentro de mi eje x
    pase a abajo se utiliza el felx nowrap*/
}

/*Esta clase de contenedor sirve para todas las secciones*/
/*Asi que todos los elementos que necesitemos heredar de cada sección se enlistan aqui*/
.container { 
/*utilizar bordes nos ayuda a darnos una idea de como ordenar nuestros elementos una ve que lo conseguimos podemos quitarlos*/
   /* border: 1px solid red;*/ 
    width: 1200px;
    margin: 0 auto;
    /*se heredan todos los elementos del padre para respetar todo y es de la siguiente manera*/
    /*Si estos elementos no se declaran en el padre no podemos utilizar estos elementos*/
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.hero {
    height: 300px; /*ponerle alto ficjo a un elemento*/  
    /*background-image: url('../images/hero.jpg');*/  /*colocar estilios descentes ose nuestra imagen de fondo*/
    background-color: #1b2127; /*poner color de fondo utiliamos colores estandar*/
    /*background-size: 500px 300px;*/  /*para darle altura a la imagen dentro de esa sección siempre se empieza por el ancho y luego por el alto*/
    /*background-repeat: no-repeat;*/  /*para que no se repita mi igaen en la sección*/
    /*background-position-x: right;*/ /*para hubicar la imagen donde queremos en el eje orizontal*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image {
  object-fit: cover; /*ESto nos ayuda a respetar las propiedades de nuestra imagen*/
}

.portfolio {
    background: #fafafa;
    padding: 20px;

}

.project { /*toda esta instruccion es para hacer bordes al reddor de una seccion o divición*/
  /* border-top: 10px solid red; *//*bordes, tamaños, tipo y estilo*/
 /*  border-right: 10px solid green;
   border-left: 10px solid orange;
   border-bottom: 10px solid pink;*/
   /*border-top-color:red; /*solo afecta a una parte*/
   /*border-width: 15px;/*ancho de borde*/
   /*border-style: solid;*/
   border: 1px solid gray;
   border-radius: 10px;
  /* border-top-left-radius: 50px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;*/
   margin-bottom: 15px; /*Se le quita el margencito cuando ya se le da un ancho en la clase padre de profolio*/
   /*margin-right: 
   margin-left:
   margin-top:*/
   padding: 20px;
   background: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.project-course, /*Se puede poner de esta manera para ahorrar lineas de codigo*/
.project-date,
.project-url {
    margin: 10px 0;
}

/*.project-date {
    margin: 10px 0;
}*/

.project-description {
    font-size: 20px;
}

.project strong {
    font-family: 'Fjalla One';
}
.project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-details{
  width: 500px;
}

.project-imageContainer{
    width: 500px;
    height: 400px;
}


.experience-title{
    margin-left: 0px;
}

.experience {/*evento padere o de la seccion events*/
    display: flex;
    flex-wrap: wrap; /*Se le tiene que heredar las propiedades al container*/
    justify-content: space-between;
}

.event {
    /*border: 1px solid red;*/
    margin: 10px;
    width: 480px;/*para pintar dos tarjetitas*/
    /*para dar formato a las tarjetas de la sección*/
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;
}

.event img {
  width: 500px;
  height: 200px;
  object-fit: cover;/*para adecuar el tamaño de la imagen dentro del contenedor*/
}

.event-details {
    margin: 30px 50px;
    margin-top: -50px;
    background-color: white;
    position: relative;/*posicion relativa nos sirve para super poner elementos encima de otros*/
    padding: 30px;
    text-align: center;
    
}

.event-description{
    text-align: left;
}

.event-url{
    color: #056fff;
    border: 1px solid;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;

}

.contact {
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between; /*para ordenar los iconos de redes sociales de manera vertical*/
}

.form-email input {
    border-color: gray;
    border-style: solid;
    padding: 10px 20px 10px 25px;
    border-radius: 5px;
    background-image: url('../images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button {
    display: block;
    margin-top: 10px;
     background: transparent;
     color: white;
     padding: 10px 0;
     border-radius: 5px;
     width: 100px;
     /*margin: 10px auto 0;*/
     margin-top: 10px;
}

.form-email h3{
    font-family: 'Source Sans Pro', sans-serif;
}
.social {
  /*border: 1px solid red;*//*esto nos sirve solo como marco de referencia para la imagen una vez que terminamos el estilo lo borramos*/
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
   /* border: 1px solid white; *//*esto nos sirve solo como marco de referencia para la imagen una vez que terminamos el estilo lo borramos*/
    margin: 0 10px;
   background-size: 50px 50px;
}

.social-link.twitter {
   background-image: url('../images/twitter.svg');
   
}

.social-link.facebook {
    background-image: url('../images/facebook.svg');
 }

 .social-link.github {
    background-image: url('../images/github.svg');
 }

 .social-link.instagram {
    background-image: url('../images/instagram.svg');
 }

.footer{
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img { /*estilos apara la imagenes de manera vertical*/
    vertical-align: middle;
}

.footer a {
    color: white;
   
}