/*reglas    ejemplo:header {
                    background-color:pink;
         }
selectores  ejemplo: header
declariones  ejemplo: {
                     background-color:pink;
                    }
propiedades   ejemplo: background-color
valores    ejemplo: :pink;  */

/*header {
    background-color:pink;
}*/

/*selector de etiqueta  ejemplo  header-section-article-nav*/
/* selector descenten*/
/*body header div nav ol li a */
/* selector de clase se realiza con . ejemplo  .link*/
/*selector de id se puede hacer con un #*/

body{
    font-family: 'Source Sans Pro', sans-serif;
}

/*h1 {
    font-family: 'Open Sans', 'Times New Roman', Times, serif;/* cuando una fuente tiene más de dos palabras se deben de poner entre comillas
}*/

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
}